
/* ESTAS SON LAS CLASES, ESTILOS Y CONTENEDORES DE LA LÍNEA DE TIEMPO */
.LineaTiempo {
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    min-width: 300px;
    max-width: 700px;
    height: 400px;
}
  
.event1, .event2, .event3, .event4 {
    position: relative;
}
  
.event1Bubble {
    position: absolute;
    background-color: #f8edda;
    width: 139px;
    height: 60px;
    top: -70px;
    left: -15px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #8b744c;
}
  
.event2Bubble {
    position: absolute;
    background-color:  #f8edda;
    width: 139px;
    height: 60px;
    left: -105px;
    top: 33px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #8b744c;
}

.event3Bubble {
    position: absolute;
    background-color:  #f8edda;
    width: 139px;
    height: 60px;
    top: -70px;
    left: -15px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #8b744c;
}

.event4Bubble {
    position: absolute;
    background-color:  #f8edda;
    width: 139px;
    height: 60px;
    left: -105px;
    top: 33px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px  #8b744c;
}
 
.event1Bubble:after, .event1Bubble:before, .event2Bubble:after, .event2Bubble:before, .event3Bubble:after, .event3Bubble:before, .event4Bubble:after, .event4Bubble:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}
  
.event1Bubble:before {
    bottom: -10px;
    left: 13px;
    border-top-color: #747371;
    border-width: 12px;
}
  
.event1Bubble:after {
    bottom: -8px;
    left: 13px;
    border-top-color: #000000;
    border-width: 12px;
}
  
.event2Bubble:before {
    bottom: 59px;
    left: 103px;
    border-top-color: #747371;
    border-width: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
  
.event2Bubble:after {
    bottom: 57px;
    left: 103px;
    border-top-color: #000000;
    border-width: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.event3Bubble:before {
    bottom: -10px;
    left: 13px;
    border-top-color: #747371;
    border-width: 12px;
}
  
.event3Bubble:after {
    bottom: -8px;
    left: 13px;
    border-top-color: #000000;
    border-width: 12px;
}
  
.event4Bubble:before {
    bottom: 59px;
    left: 103px;
    border-top-color: #747371;
    border-width: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
  
.event4Bubble:after {
    bottom: 57px;
    left: 103px;
    border-top-color: #000000;
    border-width: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.Año{
    font-size: 27px;
    font-family: "Rubik";
    font-weight: 900;
    margin-left: 10px;
    color: #000000;
}
  
.eventTitle {
    font-family: "Rubik";
    font-weight: 900;
    color: #47916a;
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 12px;
    margin-top: -2px;
}

.ahora{
    background-color: #000000;
    color: white;
    border-radius: 7px;
    margin: 5px;
    padding: 4px;
    font-size: 10px;
    font-family: "Rubik";
    border: 2px solid white;
    font-weight: bold;
    box-shadow: 0 0 0 2px #000000
}

/* CONTENEDOR DEL TEXTO Y ESTILOS */
.contenedorTexto {
    border-radius: 25px;
    border: solid black;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    align-items: flex-start;
    text-align: center;
    color: white;
    font-family: "Rubik";
    width: 700px;
    height: auto;
    margin: 10px;
}

h2 {
    font-family: "Rubik Bubbles";
    margin: 5px;
    font-size: 35px;
    padding: 5px;
}